<div class="container__fluid">
  <header class="header">
    <div class="header__wrap">
      <a class="header__logo wow animate__rubberBand" data-wow-duration="2s">
        <img src="img/logo-header.svg" alt="">
      </a>
      <nav class="nav">
        <ul class="nav__list" data-menu>
          <li class="nav__item"><a href="#" class="nav__link active">Products</a></li>
          <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
          <li class="nav__item"><a href="#" class="nav__link">中</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Log In</a></li>
        </ul>
      </nav>
      <div class="header__burger">
        <button class="burger" aria-label="Open menu" data-burger>
          <span class="burger__line"></span>
        </button>
      </div>
    </div>
</header>
</div>
